.section {
  margin: 0;
  padding: 0;
  width: 400px;
  text-align: center;
}
.sectionTitle {
  padding: 20px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.statList {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.listItem {
  width: 100px;
  height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: hotpink;
}
.listItem:nth-child(odd) {
  background-color: mediumspringgreen;
}

.label {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.percentage {
  composes: label;
}
